# gpu driver for adreno200 is globally accessible
/dev/kgsl-3d0 0666 graphics graphics
/dev/kgsl-2d0 0666 graphics graphics
/dev/kgsl-2d1 0666 graphics graphics
/dev/genlock 0666 graphics graphics

/dev/ttyHS0               0600   bluetooth  bluetooth

/dev/oncrpc/*             0666   root       system
/dev/msm_camera/*         0660   system     system
/dev/msm_aac*             0660   system     audio
/dev/msm_wma*             0666   system     audio
/dev/msm_wmapro*          0666   system     audio
/dev/msm_voicememo        0666   system     audio
/dev/smd27                0600   system     system
/dev/qemu_trace           0666   system     system
/dev/hw_extern_sdcard	0444 	system    system
/dev/hw_extern_sdcardMounted 0644		system   system

#huawei modify
/dev/mtd/mtd2                  0664   system   cache

/dev/key_test                  0664   system   system
/dev/graphics/                  0666   root   graphics

#/* we change the following line to change the smem_sleep_log mode to pass the AT&T test
/dev/smem_sleep_log                  0664   system   system
/dev/pn544                  0660   root   nfc
/dev/msm_preproc_ctl      0660   system audio
/dev/ttyHS0                 0660   root     system
/dev/graphics/fb*           0666   system graphics
/dev/accel    0666  system  system

/dev/light		0664   system     system
/dev/proximity		0664   system     system
/dev/compass_aot	0664   system     system
/dev/compass_dev	0666   system     system

